<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Test chat app</title>
		<link href='https://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
		<script language = 'javascript' type="text/javascript" src = '../static/js/jquery-1.11.3.min.js'></script>
		<script language = 'javascript' type="text/javascript" src = '../static/js/bootstrap.min.js'></script>
		<script language = 'javascript' type="text/javascript" src = '../static/js/angular.min.js'></script>
	</head>
	<body>
		<div class = 'container-fluid'>
			<div class = 'row'>
				<div class="col-sm-5 col-md-3 sidebar">
					<ul class="nav nav-sidebar">
						<li class="active"><a href="#">Active Users</a></li>
						<li><a href="#">User A</a></li>
						<li><a href="#">User B</a></li>
						<li><a href="#">User C</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>